@model IEnumerable<Konyvaru.Models.Konyv>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Könyvek</h2>
<br />

<div class="container">
    <div class="row">
        @foreach (var f in Model)
        {
            @Html.Partial("_KonyvCard", f)
        }
    </div>
</div>